body{
    background: rgb(118,29,107);
    background: linear-gradient(221deg, rgba(118,29,107,1) 10%, rgba(184,122,5,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
